.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-justify {
    text-align: justify;
}

body {
    background-color: #000000 !important;
    color: #ffffff !important;
    font-family: "Montserrat", sans-serif;
}

#presentacion i {
    font-size: 40px;
}

.texto-presentacion {
    display: none;
}

#destacados img{
    height: 150px;
}