/* Texto y fuentes */
.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-justify {
    text-align: justify;
}

/* Estilos generales */
body {
    background-color: #000000 !important;
    color: #ffffff !important;
    font-family: "Montserrat", sans-serif;
}

/* Regula el tamaño de los íconos en #presentación */
#presentacion i {
    font-size: 40px;
}

/* Hace que no se vea el texto de presentación al cargar la página */
.texto-presentacion {
    display: none;
}

/* Estandariza altura de imágenes */
#destacados img{
    height: 150px;
}